header {
    display: flex;
    justify-content:center;
    align-items: center; 
    background-color: rgb(241, 57, 66);
    flex: 0 0 2rem;
  }
  
  #webtitle {
      font-size: 3rem;
      font-weight: bold;
      margin-left: 1rem;
      color: rgb(255, 255, 255);
      margin-right: 1em;
  }
  
  #webimage {
      width: 8rem;
      height: 8rem;
      margin-right: 1rem;
      border: solid thin black;
  }
  
  menu {
      display: flex;
      justify-content: space-between;
  }
  
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      flex: 1;
  }
  
  footer {
      background-color: rgb(250, 255, 175);
      border-top: solid thin black;
      padding-left:1em;
      padding-right:1em;
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      flex: 0 0 1rem;
  }

  body {
      display: flex;
      flex-direction: column;
  }
  
  table {
    border: solid thin black;
  }
  th {
    font-size : 1.5em;
    border: solid thin black;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }

  td {
    font-size : 1em;
    border: solid thin black;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  
  .searchTable {
    /* display: none; */
  }

  #ratings {
    display: none;
  }
